{% extends 'base.html.twig' %}

{% block title %}Prediction game{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="content-center cl-white">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-4 col-md-6 col-sm-12">
                Tbd
            </div>
        </div>
    </div>
    
{% endblock %}
