{% extends 'base.html.twig' %}

{% block title %}Resend verify email{% endblock %}

{% block body %}
    <h1>Resend verify email</h1>

    <form method="POST">
        <button type="submit" class="btn">Resend email</button>
    </form>
{% endblock %}