{% extends 'base.html.twig' %}

{% block title %}Resend verify email{% endblock %}

{% block body %}

    {{ render_esi(controller('App\\Controller\\CompetitionController::competitionsCache')) }}

    <h1>Resend verification email</h1>
    
    {% for type, messages in app.flashes %}
        {% for message in messages %}
                <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <form method="POST">
        <button type="submit" class="btn">Resend email</button>
    </form>
{% endblock %}