<ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate sidebar-list">
    {% for competition in competitions %}
        <li class="nav-item">
            <a href="{{ path('app_competition_teams', {'id': competition.getCompetition()}) }}" class="nav-link text-truncate">
                <i class="bi bi-house fs-5"></i>
                <span class="d-none d-sm-inline">{{ competition.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>