* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {

    /*@mixin debugRhythm;*/
    font-family: $font-stack__base;
    margin: 0;
    padding: 0;
    color: $theme__color__primary;
}

a {
    text-decoration: none;
}

.container {
    @include container;
}

.js-toggle__wrapper {
    position: relative;
}

.js-toggle__content {
    visibility: hidden;
    opacity: 0;

    &.active {
        z-index: 3;
        visibility: visible;
        opacity: 1;
    }
}

.js-toggle__content--animated {
    position: absolute;
    top: 100%;
}

.positioned--right {
    right: 0;
}

.no-display {
    @include no-display;
}

.no-scroll {
    overflow-y: hidden;
    height: 100%;
}

/* Sticky Footer */

html,
body {
    height: 100%;
}

.page-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.page-main {
    flex: 1 0 auto;
}

