/** 1. Abstracts **/
@import 'abstracts/_mixins.scss';
@import 'abstracts/_variables.scss';

/** 2. Vendor **/
@import 'vendor/_normalize.scss';

/*@import 'vendor/owl/_owl.carousel.scss';
@import 'vendor/owl/_owl.theme.default.scss';
@import 'vendor/_products-carousel.scss';
@import 'vendor/swiper/_swiper.scss';
@import 'vendor/swiper/_swiper-override.scss'*/;

@import 'base/_media-queries.scss';
@import 'base/_page.scss';
@import 'base/_common.scss';
@import 'base/_typography.scss';
@import 'base/_utilities.scss'; /* Only single property CSS classes */


body {
    background-color: lightgray;
    color: $color__primary-10;
}

.example-wrapper {
    font-size: 10px !important;

    @media ($medium) {
        font-size: 100px !important;
    }
}
