<div 
    {{ stimulus_target('notification', 'notification') }}
    class="alert alert-{{ success ? "success" : "danger" }} mb-0 alert-dismissible fade show visuallyhidden" 
    role="alert"
>
    <button 
        {{ stimulus_action('notification', 'closeNotification') }}
        type="button" 
        class="btn-close">
    </button>
    <i class="fas fa-check-circle"></i>
    <span class="prediction-notification-message">{{ message }}</span>
</div>