<ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu1">
    {% for round, date in rounds %}
        <li>
            <a class="dropdown-item" href="{{ path('app_prediction_round', {'id': competitionId, 'round': round}) }}">
                {% if round matches '/^\\d+$/' %}
                    {{ 'Round #' ~ round}}
                {% else %}
                    {{ round }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>